html{

  box-sizing: border-box;
  height: 100%;
}
*,*:before,*:after{
  box-sizing: inherit;
}
h1{

  text-align: center;
}
#search{
  display: inline;
}

#contenido{
  margin-top: 50px;

}
.busqueda{
  margin-top: 50px;

}

.tabla-items{
    overflow: auto;
    text-align: center;
}
.metrotable {
    width: 100%;
    border-collapse: collapse;
}

.metrotable > thead > tr > th
{
    font-size: 1.3em;
    padding-top: 0;
    padding-bottom: 5px;

}
